<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 https://maven.apache.org/xsd/settings-1.0.0.xsd">
    <localRepository>${user.home}/Desktop/memory-game</localRepository>
    <interactiveMode>true</interactiveMode>
    <offline>false</offline>
    <mirrors>
        <mirror>
            <id>memory-game-repo</id>
            <name>Memory Game</name>
            <url>https://github.com/bulkerb/memory-game</url>
            <mirrorOf>*</mirrorOf>
        </mirror>
    </mirrors>

    <servers>
        <server>
            <id>memory-game-repo</id>
            <username></username>
            <password></password>
            <filePermissions>664</filePermissions>
            <directoryPermissions>775</directoryPermissions>
            <configuration></configuration>
        </server>
    </servers>
</settings>
