.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
h3 {
  font-family: "Arial Rounded MT Bold";
  text-align: center;
}
p {
  font-family: "Arial Rounded MT Bold";
  text-align: center;
}
