h1 {
    height: 100%;
    width: 90%;
    align-items: center;
    color:lightseagreen;   
}

.game_info {
    background-color:gold;
    color:black;
    display: flex;
    justify-content: space-around;
}