h1 {
    height: 100%;
    width: 90%;
    align-items: center;
    color:lightseagreen;   
}

.drop-down {
  display: flex;
  justify-content: center;
}

  /* .drop-down #themes {
    background-color: orange;
    color: white;

  } */

.button {
  display: flex;
  justify-content: center;
}