<<<<<<< HEAD

=======
>>>>>>> d1a8e227bed06b0ef585a3621a9f8ad845bc1610
h1 {
    height: 100%;
    width: 90%;
    align-items: center;
    color:lightseagreen;   
}

<<<<<<< HEAD
=======
.game_info {
    background-color:gold;
    color:black;
    display: flex;
    justify-content: space-around;
}

>>>>>>> d1a8e227bed06b0ef585a3621a9f8ad845bc1610
.dropdown {
  position: relative;
  display: inline-block;
}

.button {
  padding: 10px 30px;
  font-size: 15px;
}

#list-items {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 185px;
}

#list-items a {
  display: block;
  font-size: 18px;
  background-color: gold;
  color: black;
  text-decoration: none;
  padding: 10px;
}